body {

    background-color: peachpuff;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2em;
}

.intro {
    text-align: center;
    display: flex;
    flex: 3;
    justify-content: space-around;
    margin-top: 60px;
    padding-left: 2em;
}

#intro{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
border-radius: 5px;
}
h1 {
    display: flex;
    display: inline;
    text-align: center;
   margin-top: 4em;
}

.h2{
    margin-top: 2em;

}

.city {
    text-align:left;
    display: flex;
    flex: 3;
    justify-content: left;
}

.tshwane {
    float: left;
    width: 25em;
    justify-content: space-around;
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
border-radius: 5px;
    }
    table, td, th {
        border: 1px solid black;
        padding: 0.5em;
        margin-left: 7em;
      }
      table {
        border-collapse: collapse;
        width: 60%;
      }
.language {
         margin-top: 2em;
}
h2{
    
    margin-top: 2em;
    
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
.one{
    width: 33.33%;
    float: left;
}
.two {
    width: 33.33%;
    float: left;
}
.three {
    width: 33.33%;
    float: left;
} 
@media screen and (max-width: 480px){

.plek {
    display: flex;
}
/* .places {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
} */
.left {
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
flex: 3; 
 }
}
.ptag{
    width: 96%;
}
   .p-tag{
        text-align: center ;
        padding: 0px 20px 20px 0px;
        float: left;
        width: 60%;
     }
@media (max-width: 700px) {
    .intro {
        display: flex;
        flex-direction: column;
place-items: center;
 }
    .city {
        text-align:justify;
        display: flex;
        flex: 3;
      
        justify-content: center;
        flex-wrap: wrap;
    }
    .p-tag{
        flex-wrap: column;

    }

    .h2{
    text-align: center;
    }

    .plek {
    display: flex;
    flex-direction: column;
}

    .places {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;

}
.one{
    width:80%;
    float: left;
}
.two {
    width:80%;
    float: left;
}
.three {
    width:80%;
    float: left;
}
.russian{
   flex-direction: column;
    text-align: justify;
    
}

}